@using MyPhotoViewer.ViewModels
@model IReadOnlyList<IPhotoAlbumThumbnail>

@{
    ViewBag.Title = "Home Page";

    string albumsUrl = Url.Action("Index", "Albums");
}

<div class="jumbotron">
    <h1>PHOTO ALBUMS</h1>
    <p class="lead">There are collection of all photos consolidated in albums</p>
    <p><a href="@albumsUrl" class="btn btn-primary btn-lg">View all photo albums &raquo;</a></p>
</div>

@Html.Partial("PhotoAlbumThumbnailRow", Model)