
@if (TempData["message-success"] != null)
{
    <div class="alert alert-success">
        @TempData["message-success"]
    </div>
}
else if (TempData["message-alert"] != null)
{
    <div class="alert alert-danger">
        @TempData["message-alert"]
    </div>
}
