@model MyPhotoViewer.Core.IPhoto

@{ 
    string link = Url.Action("Image", "Photo", new { photoId = Model.Id });
}

<a href="@link" class="thumbnail">
    <img class="photo-preview" alt="@Model.Title" src="" data-src="@link" />
</a>