@using MyPhotoViewer.Core
@using MyPhotoViewer.ViewModels.Album
@model IReadOnlyList<IAlbumThumbnail>

@{
    ViewBag.Title = "Index";
}

<h2>Albums</h2>
<p>
    @Html.ActionLink("Add New Album", "Create", "Album")
</p>
<hr />

@foreach (IEnumerable<IAlbumThumbnail> albumThumbnails in Model.Split(3))
{
    @Html.Partial("_AlbumThumbnailRow", albumThumbnails.ToList())
}

