@using MyPhotoViewer.Core
@model IEnumerable<IAlbum>

@{
    ViewBag.Title = "Admin";
}

@Html.Partial("_TempMessage")

<h2>Manage</h2>
<hr />

<div class="row">
    <div class="col-md-4 admin-action">
        <div class="jumbotron btn btn-block btn-primary">
            <h1>
                ALBUMS
            </h1>
            <a href="@Url.Action("Albums", "Admin")"></a>
        </div>
    </div>
    <div class="col-md-4 admin-action">
        <div class="jumbotron btn btn-block btn-primary">
            <h1>
                USERS
            </h1>
        </div>
    </div>
    <div class="col-md-4 admin-action">
        <div class="jumbotron btn btn-block btn-primary">
            <h1>
                PHOTOS
            </h1>
            <a href="@Url.Action("Photos", "Admin")"
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('div.admin-action').click(function () {
                window.location = $(this).find('a').attr('href');
                return false;
            });
        });
    </script>
}