body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Top navigation */

ul#navlist {
    float: right;
}

ul#navlist li {
    display: inline;
}

ul#navlist li a {
    border-left: 1px dotted #8A8575;
    padding: 10px;
    margin-top: 10px;
    color: #8A8575;
    text-decoration: none;
    float: left;
}

ul#navlist li:first-child a {
    border: none;
}

ul#navlist li a:hover {
    color: #F6855E;
}

img.photo-thumbnail {
    max-height: 200px;
    max-width: 200px;
}

/* End top navigation*/