body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.input-group,
.period-group {
    max-width: 330px;
}

label.input-group-btn input[type="file"] {
    display: none;
}

/* Top navigation */

ul#navlist {
    float: right;
}

ul#navlist li {
    display: inline;
}

ul#navlist li a {
    border-left: 1px dotted #8A8575;
    padding: 10px;
    margin-top: 10px;
    color: #8A8575;
    text-decoration: none;
    float: left;
}

ul#navlist li:first-child a {
    border: none;
}

ul#navlist li a:hover {
    color: #F6855E;
}

img.photo-thumbnail {
    max-width: 100%;
}

img.photo-preview {
    max-width: 100%;
}

.form-group img {
    width: inherit;
}

div.crud-bar {
    position: fixed;
    height: 100%;
    width: 25%;
    top: 35%;
    overflow: auto;
}

div.photo-wall {
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.row-grid {
    margin-bottom: 15px;
    margin-top: 15px;
}

table.with-buttons tr td:last-child {
    width: 133px;
    text-align: right;
}

.period-group {
    display: table;
}

.period-from, .period-to {
    display: table-cell;
    max-width: 45%;
}

.period-delimiter {
    display: table-cell;
    text-align: center;
}

.period-to {
}

/* End top navigation*/