<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://localhost/MyPhotoViewer</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/MyPhotoViewer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=.\SQL2012EXPRESS;Initial Catalog=UsersDB;Integrated Security=True" Name="Data Source=.\SQL2012EXPRESS;Initial Catalog=UsersDB;Integrated Security=True;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyPhotoViewer.Models.ApplicationDbContext, MyPhotoViewer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PhotosDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=.\SQL2012EXPRESS;Initial Catalog=PhotosDB;Integrated Security=True" Name="Data Source=.\SQL2012EXPRESS;Initial Catalog=PhotosDB;Integrated Security=True;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyPhotoViewer.DAL.Entity.PhotosDbContext, MyPhotoViewer.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2012EXPRESS;Initial Catalog=UsersDB;Integrated Security=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PhotosDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.\SQL2012EXPRESS;Initial Catalog=PhotosDB;Integrated Security=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>